<!DOCTYPE html>
<html lang="{{ str_replace('_', '-', app()->getLocale()) }}">

<head>
  <!-- Site made with Mobirise Website Builder v4.12.4, http://www.sokachamp.comm -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="generator" content="Mobirise v4.12.4, mobirise.com">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="assets/images/sokachamp-122x122.png" type="image/x-icon">
  <meta name="description" content="">
  
  
  <title>Home</title>
  <link rel="stylesheet" href="assets/web/assets/mobirise-icons/mobirise-icons.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="assets/socicon/css/styles.css">
  <link rel="stylesheet" href="assets/tether/tether.min.css">
  <link rel="stylesheet" href="assets/dropdown/css/style.css">
  <link rel="stylesheet" href="assets/theme/css/style.css">
  <link rel="preload" as="style" href="assets/mobirise/css/mbr-additional.css"><link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css" type="text/css">
  
  
  
</head>
<body>
  <section class="menu cid-s2mcmcumcL" once="menu" id="menu1-13">

    

    <nav class="navbar navbar-expand beta-menu navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </button>
        <div class="menu-logo">
            <div class="navbar-brand">
                <span class="navbar-logo">
                    <a href="http://www.sokachamp.com">
                         <img src="assets/images/sokachamp-122x122.png" alt="Mobirise" title="" style="height: 3.8rem;">
                    </a>
                </span>
                <span class="navbar-caption-wrap"><a class="navbar-caption text-white display-4" href="http://www.sokachamp.com">SOKACHAMP</a></span>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true"><li class="nav-item">
                    <a class="nav-link link text-white display-4" href="http://www.sokachamp.com">
                        Champions League</a>
                </li><li class="nav-item"><a class="nav-link link text-white display-4" href="http://www.sokachamp.com">
                        Premeir League</a></li><li class="nav-item"><a class="nav-link link text-white display-4" href="http://www.sokachamp.com">
                        Bundesliga</a></li><li class="nav-item"><a class="nav-link link text-white display-4" href="http://www.sokachamp.com">
                        Laliga</a></li><li class="nav-item"><a class="nav-link link text-white display-4" href="http://www.sokachamp.com" aria-expanded="false">
                        Serie A</a></li></ul>
            <div class="navbar-buttons mbr-section-btn"><a class="btn btn-sm btn-primary display-4" href="http://www.sokachamp.com">Login</a> <a class="btn btn-sm btn-primary display-4" href="http://www.sokachamp.com">Subscribe</a></div>
        </div>
    </nav>
</section>

<section class="engine"><a href="http://www.sokachamp.com">free bootstrap templates</a></section><section class="header6 cid-s2lZG2zPCw mbr-fullscreen mbr-parallax-background" id="header6-3">

    

    <div class="mbr-overlay" style="opacity: 0; background-color: rgb(35, 35, 35);">
    </div>

    <div class="container">
        <div class="row justify-content-md-center">
            <div class="mbr-white col-md-10">
                
                
                <div class="mbr-section-btn align-center"><a class="btn btn-md btn-primary display-4" href="http://www.sokachamp.com">SUBSCRIBE NOW</a>
                        <a class="btn btn-md btn-white-outline display-4" href="http://www.sokachamp.com">SUBSCRIPTION PLANS</a></div>
            </div>
        </div>
    </div>

    <div class="mbr-arrow hidden-sm-down" aria-hidden="true">
        <a href="#next">
            <i class="mbri-down mbr-iconfont"></i>
        </a>
    </div>
</section>

<section class="features3 cid-s2m1hwl2FJ" id="features3-4">

    

    
    <div class="container">
        <div class="media-container-row">
            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-img">
                        <img src="assets/images/premier-league-300x168.jpg" alt="Mobirise" title="">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style display-7">Premier League</h4>
                        <p class="mbr-text mbr-fonts-style display-7">
                            Get the latest Tips, News and predictions on premier league.With our team we analyse the latest in the league and give yu sure Tips</p>
                    </div>
                    <div class="mbr-section-btn text-center">
                        <a href="http://www.sokachamp.com" class="btn btn-primary display-4">
                            Learn More
                        </a>
                    </div>
                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-img">
                        <img src="assets/images/champions-league-310x163.jpg" alt="Mobirise" title="">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style display-7">Champions League</h4>
                        <p class="mbr-text mbr-fonts-style display-7">With indepth data on the &nbsp;League of champions, let us guide you in choosing the winning teams, Bet sizing and win together with us</p>
                    </div>
                    <div class="mbr-section-btn text-center">
                        <a href="http://www.sokachamp.com" class="btn btn-primary display-4">
                            Learn More
                        </a>
                    </div>
                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-img">
                        <img src="assets/images/bundesliga-1-300x168.jpg" alt="Mobirise" title="">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style display-7">Bundesliga</h4>
                        <p class="mbr-text mbr-fonts-style display-7">
                            Not sure about the bundesliga and other small leagues, well dont worry because our team will guide you in picking the winners and we can win together</p>
                    </div>
                    <div class="mbr-section-btn text-center">
                        <a href="http://www.sokachamp.com" class="btn btn-primary display-4">
                            Learn More
                        </a>
                    </div>
                </div>
            </div>

            
        </div>
    </div>
</section>

<section class="pricing-table1 cid-s2mfT9I2KN" id="pricing-tables1-14">

    

    
    <div class="container">
        <div class="media-container-row">

            <div class="plan col-12 mx-2 my-2 justify-content-center col-lg-3">
                <div class="plan-header text-center pt-5">
                    <h3 class="plan-title mbr-fonts-style display-5">
                        SMS TIPS</h3>
                    <div class="plan-price">
                        <span class="price-value mbr-fonts-style display-5">ksh&nbsp;</span>
                        <span class="price-figure mbr-fonts-style display-1">50</span>
                        <small class="price-term mbr-fonts-style display-4">
                            per day</small>
                    </div>
                </div>
                <div class="plan-body pb-5">
                    <div class="plan-list align-center">
                        <ul class="list-group list-group-flush mbr-fonts-style display-7">
                            <li class="list-group-item"><br></li><br><li class="list-group-item"><em><strong>TILL NO</strong></em>:  5001801</li>
                        </ul>
                    </div>
                    <div class="mbr-section-btn text-center pt-4"><a href="http://www.sokachamp.com" class="btn btn-primary display-4">BUY NOW</a></div>
                </div>
            </div>

            <div class="plan col-12 mx-2 my-2 justify-content-center col-lg-3">
                <div class="plan-header text-center pt-5">
                    <h3 class="plan-title mbr-fonts-style display-5">
                        Jackpot</h3>
                    <div class="plan-price">
                        <span class="price-value mbr-fonts-style display-5">ksh: &nbsp;</span>
                        <span class="price-figure mbr-fonts-style display-2">100</span>
                        <small class="price-term mbr-fonts-style display-7"></small>
                    </div>
                </div>
                <div class="plan-body pb-5">
                    <div class="plan-list align-center">
                        <ul class="list-group list-group-flush mbr-fonts-style display-7">
                            <li class="list-group-item">Get jackpot on Betika Mozzartbet</li>
                            <li class="list-group-item"><em><strong>TILL NO</strong></em>: 5001801</li>
                        </ul>
                    </div>
                    <div class="mbr-section-btn text-center pt-4">
                        <a href="http://www.sokachamp.com" class="btn btn-primary display-4">BUY NOW</a>
                    </div>
                </div>
            </div>

            <div class="plan col-12 mx-2 my-2 justify-content-center col-lg-3">
                <div class="plan-header text-center pt-5">
                    <h3 class="plan-title mbr-fonts-style display-5">
                        Ht/FT and CS</h3>
                    <div class="plan-price">
                        <span class="price-value mbr-fonts-style display-5">ksh:&nbsp;</span>
                        <span class="price-figure mbr-fonts-style display-2">150</span>
                        <small class="price-term mbr-fonts-style display-7">
                            per week</small>
                    </div>
                </div>
                <div class="plan-body pb-5">
                    <div class="plan-list align-center">
                        <ul class="list-group list-group-flush mbr-fonts-style display-7">
                            <li class="list-group-item"><br></li>
                            <li class="list-group-item"><em><strong>TILL NO</strong></em>:  5001801</li>
                        </ul>
                    </div>
                    <div class="mbr-section-btn text-center pt-4">
                        <a href="http://www.sokachamp.com" class="btn btn-primary display-4">BUY NOW</a>
                    </div>
                </div>
            </div>

            <div class="plan col-12 mx-2 my-2 justify-content-center col-lg-3">
                <div class="plan-header text-center pt-5">
                    <h3 class="plan-title mbr-fonts-style display-5">
                        Ultimate
                    </h3>
                    <div class="plan-price">
                        <span class="price-value mbr-fonts-style display-5">ksh:&nbsp;</span>
                        <span class="price-figure mbr-fonts-style display-2">
                            600</span>
                        <small class="price-term mbr-fonts-style display-7">
                            per month</small>
                    </div>
                </div>
                <div class="plan-body pb-5">
                    <div class="plan-list align-center">
                        <ul class="list-group list-group-flush mbr-fonts-style display-7">
                            <li class="list-group-item">
                                get full access All month</li>
                            <li class="list-group-item"><em><strong>TILL NO</strong></em>: &nbsp;5001801</li>
                        </ul>
                    </div>
                    <div class="mbr-section-btn text-center pt-4"><a href="http://www.sokachamp.com" class="btn btn-primary display-4">BUY NOW</a></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="cid-s2m1D20mig" id="footer1-7">

    

    

    <div class="container">
        <div class="media-container-row content text-white">
            <div class="col-12 col-md-3">
                <div class="media-wrap">
                    <a href="http://www.sokachamp.com">
                        <img src="assets/images/sokachamp-192x192.png" alt="Mobirise" title="">
                    </a>
                </div>
            </div>
            <div class="col-12 col-md-3 mbr-fonts-style display-7">
                <h5 class="pb-3"></h5>
                <p class="mbr-text"></p>
            </div>
            <div class="col-12 col-md-3 mbr-fonts-style display-7">
                <h5 class="pb-3">
                    Contacts
                </h5>
                <p class="mbr-text">
                    Email: support@sokachamp.com
                    <br>Phone: 0711703276<br><br></p>
            </div>
            <div class="col-12 col-md-3 mbr-fonts-style display-7">
                <h5 class="pb-3">
                    Links
                </h5>
                <p class="mbr-text">Champions League<br>Bundesliga<br>Premier League</p>
            </div>
        </div>
        <div class="footer-lower">
            <div class="media-container-row">
                <div class="col-sm-12">
                    <hr>
                </div>
            </div>
            <div class="media-container-row mbr-white">
                <div class="col-sm-6 copyright">
                    <p class="mbr-text mbr-fonts-style display-7">
                        © Copyright 2020 Sokachamp - All Rights Reserved
                    </p>
                </div>
                <div class="col-md-6">
                    <div class="social-list align-right">
                        <div class="soc-item">
                            <a href="https://twitter.com/mobirise" target="_blank">
                                <span class="socicon-twitter socicon mbr-iconfont mbr-iconfont-social"></span>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="https://www.facebook.com/pages/Mobirise/1616226671953247" target="_blank">
                                <span class="socicon-facebook socicon mbr-iconfont mbr-iconfont-social"></span>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="https://www.youtube.com/c/mobirise" target="_blank">
                                <span class="socicon-youtube socicon mbr-iconfont mbr-iconfont-social"></span>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="https://instagram.com/mobirise" target="_blank">
                                <span class="socicon-instagram socicon mbr-iconfont mbr-iconfont-social"></span>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="https://plus.google.com/u/0/+Mobirise" target="_blank">
                                <span class="socicon-googleplus socicon mbr-iconfont mbr-iconfont-social"></span>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="https://www.behance.net/Mobirise" target="_blank">
                                <span class="socicon-behance socicon mbr-iconfont mbr-iconfont-social"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


  <script src="assets/web/assets/jquery/jquery.min.js"></script>
  <script src="assets/popper/popper.min.js"></script>
  <script src="assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="assets/tether/tether.min.js"></script>
  <script src="assets/parallax/jarallax.min.js"></script>
  <script src="assets/dropdown/js/nav-dropdown.js"></script>
  <script src="assets/dropdown/js/navbar-dropdown.js"></script>
  <script src="assets/touchswipe/jquery.touch-swipe.min.js"></script>
  <script src="assets/smoothscroll/smooth-scroll.js"></script>
  <script src="assets/theme/js/script.js"></script>
  
  
</body>
    
</html>
